body, html {
    border: 0;
    margin: 0;
    padding: 0;    
    padding: 0;
    height: 100%;
    color: #F9F9F9;
    overflow: hidden;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}



nav.navbar {        
    height: 64px;
    display: flex;
    padding: 8px 8px 0px 8px;
    text-align: center;
    justify-content: space-between;
}

a.nav-link {  
    width: 50%;
    text-align: center;  
    font-size: 32px;
}

a {
    color: #F9F9F9;
    font-style: none;
    text-decoration: none;
    transform-style: preserve-3d;
    transition-delay: .1s;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);    
}

a:hover {
    color: #cc181e;
}

img.albumart {
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}

div.stores {
    width: 100%;
    display: flex;    
    justify-content: space-between;    
}

a.media-links {
    margin-top: 8px;
    width: 100%;
    text-align: center;  
    font-size: 32px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

a.media-links#amazon:hover {
    color: #ff9900;
}

a.media-links#fb:hover {
    color: #4267b2;
}

a.media-links#itunes:hover {
    color: #999;
}

a.media-links#spotify:hover {
    color: #2EBD59;
}

h3 {
    padding-bottom: 8px;
    margin: 0px 8px 0px 0px;    
    text-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

img.bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: inherit;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    object-fit: fill;
}

@media (orientation: portrait) {    

    img.band {
        left: 0;
        position: fixed;
        object-fit: cover;
        z-index: 2;
        width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
    }

    div.blackstar {
        width: 70%;    
        margin: 0px 15% 8px 15%;        
        text-align: center;    
        padding: 8px;
        display: block;
        position: fixed; 
        top: 0;
        z-index: 3;
    }   
     
    img.logo {
        z-index: 3;
        width: 70%;    
        margin: 0px 15% 8px 15%;        
        text-align: center;    
        padding: 8px;
        display: block;
        position: fixed; 
        bottom: 0;   
    }

    img.angel {
        filter: blur(1px);
        -webkit-filter: blur(1px);
        left: 0;
        position: fixed;
        object-fit: cover;
        z-index: 1;
        width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
    }      
}

@media (orientation: landscape) {

    div.blackstar {
        width: 20%;
        margin: 0px 40% 8px 40%;
        text-align: center;
        padding: 8px;
        display: block;
        position: fixed;
        z-index: 3;
        bottom: 0;
    }

    img.logo {
        width: 20%;    
        margin: 0px 40% 8px 40%;        
        text-align: center;    
        padding: 8px;
        display: block;
        z-index: 3;
        position: fixed; 
        top: 0;   
    }

    img.band {
        left: 0;
        position: fixed;
        z-index: 2;
        width: auto;
        height: 75%;
        bottom: 0;
        right: 0;
        margin: 0px auto 0px auto;
    }

    img.angel {
        filter: blur(1px);
        -webkit-filter: blur(1px);
        left: 0;
        position: fixed;
        z-index: 1;
        width: auto;
        height: 80%;
        bottom: 0;
        right: 0;
        margin: 0px auto 0px auto;
    }
}